/* Make nav sticky */
nav.toc {
  position: sticky;
  top: 1rem;
  align-self: start;
  width: 20em;
}

.toc-title {
  font-weight: bold;
}

.toc-content {
  font-size: 0.8em;
  line-height: 1.3;
  max-height: 80vh;
  overflow-y: auto;
  padding: 1em;
  padding-left: 0;
}

.toc {
  margin-top: 8em;
  margin-right: 1em;

  .active > a {
    // color: blue;
  }

  .current {
    border-left: 2px solid black;
    & > a {
      font-weight: bold;
      font-size: 1.2em;
      color: black;
    }
  }

  a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid transparent;
    padding: 0.125em 0;
    // color: #ccc;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  }

  a:hover,
  a:focus {
    color: $theme-color;
    border-bottom: 1px solid $theme-color;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-left: 1em;
    border-left: 1px solid black;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;

  &:hover {
    scrollbar-color: black transparent;
  }

  &:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: background 0.3s;
    background: rgba(0, 0, 0, 0.75);
  }
}

@include max-screen() {
  nav.toc {
    display: none;
  }
}
